{% extends "base.html" %}
{% block content %}
<link rel="stylesheet" href="/static/styles/admin.css" type="text/css"/>
<link rel="stylesheet" href="/static/styles/jquery-ui-1.8.7.custom.css" type="text/css"/>
<script type="text/javascript" src="/static/scripts/checkbox.js"></script>
<ul>
	{%for p in polls_list %}
	<div id="list{{p.pk}}" class="StandardDiv">
	
	<li> <a href="{{p.pk}}">{{p}}</a><sub><a href="" onclick="javascript:fadejQuery(list{{p.pk}}); return false" > <font color="red" size="1">Hide<span class="ui-icon ui-icon-minus" style="float:right; margin:0 ;"></span></a></font></sub></li>
	
	</div>
	{% endfor %}
</ul>
{% block sidebar %} {%endblock sidebar %}
            <div id="dialog-confirm" title="Hide Item?">
                <p><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;">nbsp;</span>
                These items will be hidden and cannot be unhidden. Are you sure?</p>
            </div>
<script language="javascript">
function fadejQuery(listdiv) {
$(listdiv).fadeOut();
};
</script>
<input type="hidden" name="_xsrf" value="5d355caf8a8743bf87592e0ac59d1f9f"/>
{% endblock content %}

