#entry_form {
	margin:0;
	padding:5px 10px;
}

#entry_form ol {
	margin:0;
	padding:0;
	list-style:none;
}
#entry_form li {
	margin:5px 0 5px 0;
}
.items ul.errorlist {

margin: 0;
padding: 0;
}
.items ul.errorlist li{ background-color: red;
border:none;
color: white;
display: block;
font-size: 10px;
margin: 0 0 3px;
padding: 4px 5px;
 }

/*----- forms -----*/


textarea { width:444px;
		
		height:400px; 
		padding:1px 0 1px 3px; 
		border:1px solid #4d4d4d; 
		color:#979797; 
		margin-bottom:19px; 
		overflow:auto; 
		background:none;}

		
/*==========================================*/