{% extends "wing-the-air/twitter/zerxis_base.html" %}
{% block home %}
  <form action="/zerxis/" method="post" action = "update" class="update-form">
  {% csrf_token %}
 {% if error %}<b>  </b>{% endif %}
  {{error}}
  		<div class="fieldWrapper">
		{{ form.status.errors }}
		<label for="id_update">Status:</label><br/>
		{{ form.status }}
		<input name="in_reply_to_id" value="{{in_reply_to_id}}" type="hidden" />
		<div>
		<span id="remaining">140</span> 
		 </div>
		<span id="geo" style="display: none; float: right;"><input onclick="goGeo()" type="checkbox" id="geoloc" name="location" /> <label for="geoloc" id="lblGeo"></label></span>
		<input type="submit" value="Update" />
		</div>
		
  <script type="text/javascript">
	started = false;
	chkbox = document.getElementById("geoloc");
	if (navigator.geolocation) {
		geoStatus("Tweet my location");
		if ("'.$_COOKIE['geo'].'"=="Y") {
			chkbox.checked = true;
			goGeo();
		}
	}
	function goGeo(node) {
		if (started) return;
		started = true;
		geoStatus("Locating...");
		navigator.geolocation.getCurrentPosition(geoSuccess, geoStatus);
	}
	function geoStatus(msg) {
		document.getElementById("geo").style.display = "inline";
		document.getElementById("lblGeo").innerHTML = msg;
	}
	function geoSuccess(position) {
		geoStatus("Tweet my <a href=\'http://maps.google.co.uk/m?q=" + position.coords.latitude + "," + position.coords.longitude + "\' target=\'blank\'>location</a>");
		chkbox.value = position.coords.latitude + "," + position.coords.longitude;
	}
  </script>
</form>
{% block userprofile %}
{% endblock userprofile %}	
	
{% for s in Statuses %}
<li>
<p>
<div class="prof-image" > <a href="#"><img src="{{ s.user.GetProfileImageUrl}}" alt="" /></a> </div>


<span><a href="http://twitter.com/#!/{{s.user.screen_name}}"><h2>{{s.user.name}}</h2></a></span><br />
<span>	
{{s.text}}
<p class="price">Time: <strong><a href="http://twitter.com/#!/{{s.user.screen_name}}/status/{{s.id}}">{{s.relative_created_at}}</a></strong> </p>

<p>Via:{{s.source|safe}}</p>
</li>
{% endfor %}
{% endblock home %}
