{% extends "bs/base.html" %}
   {% load avatar_tags %} 
			  {% block nav %}
          <ul class="nav">

            <li ><a href="/">Home</a></li>
			
            <li><a href="/zerxis/about/">About</a></li>
            <li class="active"><a href="/zerxis">Zerxis</a></li>
			{% block auth %}			
			{% if user.is_authenticated %}     
			<li><a href="/accounts/avatar/change">Avatar</a></li>
			<li><a href="/compose">Compose</a></li>

			
			<li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">{{user.username}}</a>
              <ul class="dropdown-menu">
                <li class=""><a href="/accounts/">{{user.username}}</a></li>
                <li class=""><a href="/accounts/logout">Logout</a></li>
              </ul>
            </li>
			
			{% else %}
			
			<li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Login</a>
              <ul class="dropdown-menu">
                <li class=""><a href="/accounts/login">Login</a></li>
                <li class=""><a href="">Sign up</a></li>
				<li class="">
			<a href="#">Open ID</a>

</li>
              </ul>
            </li>
		{% endif %}			  
	{%endblock auth %}
	  
          </ul>
		  
		  {% endblock nav %}
{% block content %}

 
{% if zerxis_user %}
{% block zerxis_userprofile %}
    <ul>
	<img src="{{zerxis_user.profile_image_url}}" alt="profile image"/>
		zerxis_user Id: {{zerxis_user.id}}<br/>
		Name: {{zerxis_user.name}}<br/>
		Screen Name: {{zerxis_user.screen_name}}<br/>
		Location: {{zerxis_user.location}}<br/>
		Description: {{zerxis_user.description}}<br/>
		Profile Image: {{zerxis_user.profile_image_url}}<br/>
		Background Tile:{{zerxis_user.profile_background_tile}}<br/>
		Background Image URL: {{zerxis_user.profile_background_image_url}}<br/>
		Profile Sidebar File Color: {{zerxis_user.profile_sidebar_fill_color}}<br/>
		Back groud color: {{zerxis_user.profile_background_color}}<br/>
		Link Color: {{zerxis_user.profile_link_color}}<br/>
		Profile Text Color: {{zerxis_user.profile_text_color}}<br/>
		Protected: {{zerxis_user.protected}}<br/>
		UTC offset: {{zerxis_user.utc_offset}}<br/>
		Time Zone: {{zerxis_user.time_zone}}<br/>
		Url: {{zerxis_user.url}}<br/>
		Last Status: {{zerxis_user.status.text}}<br/>
		Tweets: {{zerxis_user.statuses_count}}<br/>
		Followers: {{zerxis_user.followers_count}}<br/>
		Friends: {{zerxis_user.friends_count}}<br/>
		Favourites: {{zerxis_user.favourites_count}}<br/>
		Geo: {{zerxis_user.geo_enabled}}<br/>
		Verified: {{zerxis_user.verified}}<br/>
		Language: {{zerxis_user.lang}}<br/>
		Notifications: {{zerxis_user.notifications}}<br/>
		Contributors: {{zerxis_user.contributors_enabled}}<br/>
		Created At: {{zerxis_user.created_at}}<br/>
		Lists: {{zerxis_user.listed_count}}<br/>
	</ul>
{% endblock zerxis_userprofile %}	
{% endif %}
    {% block statuses %}
	<div class="stream-container">

      <div class="stream profile-stream" media="true">
        
		
        {% for s in Updates %}
<div class="js-stream-items stream-items" id="stream-items-id">
	<div class="js-stream-item stream-item" data-item-id="123456" data-item-type="tweet" id="stream-item-tweet-123456">
		<div class="more"> </div>
 <div class="stream-item-content tweet js-actionable-tweet js-stream-tweet stream-tweet  " data-is-reply-to="true" data-tweet-id="123456" data-item-id="123456" data-screen-name="kirembu" data-user-id="48656739">
  <div class="tweet-dogear"></div>
 
  <div class="tweet-image">
      <div class="prof-image" > <a href="#"><img src="{{ s.user.GetProfileImageUrl}}" class="user-profile-link js-action-profile-avatar" alt="" /></a> </div>
  </div>
  <div class="tweet-content">
    <div class="tweet-row">
              <span class="tweet-user-name">
  <a class="tweet-screen-name user-profile-link js-action-profile-name" data-user-id="{{user.id}}" href="/zerxis/user/{{s.user.screen_name}}" title="Patrick">{{s.user.name}}</a>
  <span class="tweet-full-name">{{s.user.screen_name}}</span>
  </span>
      <div class="tweet-corner">
        <div class="tweet-meta">
  <span class="icons">
                  <div class="extra-icons">
              <span class="inlinemedia-icons js-icon-container"></span>
        </div>
  </span>
</div>
      </div>
    </div>
    <div class="tweet-row">
      <div class="tweet-text js-tweet-text">{{s.text|safe}}</div>
    </div>
          <div class="tweet-row">
        <a href="/zerxis/status/{{s.screen_name}}/{{s.id}}" class="tweet-timestamp js-permalink">
  <span class="_timestamp js-tweet-timestamp" title="123456" data-time="1324232504000" data-long-form="true">{{s.relative_created_at}}</span>
</a>
        <span class="tweet-actions js-actions" data-tweet-id="123456">
  </span>
      </div>
	  
          </div>
		   

</div></div>
</div>{% endfor %}

 </div>       

</div>
  
{% endblock statuses %}
{% block detailspanel %}{% endblock detailspanel %}
{% endblock content %}