<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Strife Park</title>
    <meta name="description" content="blog, twitter client, social, random">
    <meta name="author" content="kirembu">
{% block styles %}
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->

    <link href="/static/bs/bootstrap.css" rel="stylesheet">
    <link href="/static/bs/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
	
	{% endblock styles %}
	{% block extra-styles %}
	<link rel="stylesheet" href="/static/bs/css/phoenix_core.css" type="text/css" media="screen">
	{% endblock extra-styles %}
	{% block icos %}
    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/static/bs/ico/favicon.bmp">

	{% endblock icos %}
	{% load avatar_tags %}
	    <script src="/static/bs/js/util.js"></script>
  </head>

  <body>

    <div class="topbar">
      <div class="fill">
        <div class="container">
		
		<div id="logo">
			<a class="brand" href="/">Strife Park</a>
		</div>
		
		  <form id="search-form" class="js-search-form" action="/search" method="GET">
    <span class="glass js-search-action"><i></i></span>
    <input value="" placeholder="Search" name="q" id="search-query" type="text">
  </form>
			  {% block nav %}
          <ul class="nav">

            <li class="{% block class_tab1 %}inactive{% endblock %}"><a href="/">Home</a></li>
            <li class="{% block class_tab2 %}inactive{% endblock %}"><a href="/about">About</a></li>
            <li class="{% block class_tab3 %}inactive{% endblock %}"><a href="/blog">Blog</a></li>
            <li class="{% block class_tab4 %}inactive{% endblock %}"><a href="/zerxis">Zerxis</a></li>
			{% block auth %}			
			{% if user.is_authenticated %}     
			<li class="{% block class_tab5 %}inactive{% endblock %}"><a href="/accounts/avatar/change">Avatar</a></li>
			<li class="{% block class_tab6 %}inactive{% endblock %}"><a href="/compose">Compose</a></li>

			
			<li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">{{user.username}}</a>
              <ul class="dropdown-menu">
                <li class=""><a href="/accounts/">{{user.username}}</a></li>
                <li class=""><a href="/accounts/logout">Logout</a></li>
              </ul>
            </li>
			
			{% else %}
			
			<li class="dropdown" data-dropdown="dropdown">
              <a href="#" class="dropdown-toggle">Login</a>
              <ul class="dropdown-menu">
                <li class=""><a href="/accounts/login">Login</a></li>
                <li class=""><a href="">Sign up</a></li>
				<li class="">
			<a href="#">Open ID</a>

</li>
              </ul>
            </li>
		{% endif %}			  
	{%endblock auth %}
	  
          </ul>
		  
		  {% endblock nav %}

{% if user.is_authenticated %}<img id="spavi" width="24" height="24" src="{% avatar_url user %}" alt="{{ user.username }}">{% endif %}

        </div>
      </div>
    </div>

 <div class="container-fluid" style="min-height: 550px;padding-top: 45px;padding-left: 50px;">
 <div class="content">
 <div class="row-fluid">
<div class="span12">

	
{% block content %}

            

{% endblock content %}
</div>


</div>
<div class="row">
 </div>
      <footer>

        <p>&copy; StrifePark 2012</p>
      </footer>

    <!-- /container -->

  </body>
      <script src="/static/bs/js/jquery.min.js"></script>
    <script src="/static/bs/js/jquery.tablesorter.min.js"></script>
    <script src="/static/bs/js/prettify.js"></script>
    <script src="/static/bs/js/bootstrap-dropdown.js"></script>
    <script src="/static/bs/js/bootstrap-twipsy.js"></script>
    <script src="/static/bs/js/bootstrap-scrollspy.js"></script>
    

</html>
