{% extends "bs/base.html" %}
   {% load avatar_tags %} 
	{% load voting_tags %} 
    {% block content %}
<div id="stream">

		
        {% for entry in Entry %}
		{% vote_by_user user on entry as vote %}
		{% score_for_object entry as score %}
		
<div class="stream-item">
		<a href="/blog/{{entry.slug}}/"><div class="more">»</div></a>

      {% avatar entry.author 48 "user-profile-link js-action-profile-avatar" %}
  <a class="label" data-user-id="{{user.id}}" href="/accounts/user/{{entry.author}}" title="Patrick">{{entry.author}}</a>

      <div class="span11"><b>{{ entry.title|escape}}</b>
		  {{ entry.markdown|escape|safe|truncatewords_html:"140"  }}  
	  </div>

	  <a href="/blog/{{entry.slug}}" class="tweet-timestamp js-permalink">
  <span class="_timestamp js-tweet-timestamp" style="font-size:10px; margin-bottom:0px;" title="{{entry.pub_date}}" data-time="" data-long-form="true">{{entry.pub_date|timesince}}</span>
</a>
<span class="pull-right">
{% if vote %} 
{% if score.score >= 1 %} <font color="green">+{{ score.score }}</font> {% else %} <font color="red">{{ score.score }}</font> {% endif %}
| You {{ vote|vote_display:"Like,Dislike" }} This 
<form action="/vote/{{ entry.id}}/clear/" method="post">{% csrf_token %}
<input type="hidden" name="next" value="/"/>
<input type="submit" class="clear" value="Undo"/>
</form>
{% else %}

<form action="/vote/{{ entry.id}}/up/" method="post">{% csrf_token %}
<input type="hidden" name="next" value="/"/>
<input type="submit" class="voteup" value="Vote Up"/>
</form>
<form action="/vote/{{ entry.id}}/down/" method="post">{% csrf_token %}
<input type="hidden" name="next" value="/"/>
<input type="submit" class="votedown" value="Vote Down"/>
</form>

{% endif %}
</span>
	  </div>


{% endfor %}


	Page {{ paginator.number }} of {{paginator.paginator.num_pages }}.
  	<div class="pagination">

	<ul> {% if paginator.has_previous %}
	<li class="previous"><a href="?{% if q%}q={{q}}&{%endif%}page={{paginator.previous_page_number}}">&larr; previous</a></li>{% endif %}

	{% if paginator.has_next %}<li class="next"> <a href="?{% if q%}q={{q}}&{%endif%}page={{paginator.next_page_number}}">next &rarr;</a></li>{% endif %}</ul>
	</div>
</div>
{% endblock content %}