{% extends "bs/base.html" %}
   {% load avatar_tags %} 
    {% block content %}
<div id="stream">

		
        {% for entry in Entry %}
		
<div class="stream-item">
		<a href="/blog/{{entry.slug}}/"><div class="more">»</div></a>

      {% avatar entry.author 48 "user-profile-link js-action-profile-avatar" %}
  <a class="label" data-user-id="{{user.id}}" href="/accounts/user/{{entry.author}}" title="Patrick">{{entry.author}}</a>

      <div class="span11"><b>{{ entry.title|escape}}</b>
		  {{ entry.markdown|escape|safe|truncatewords_html:"140"  }}  
	  </div>

	  <a href="/blog/{{entry.slug}}" class="tweet-timestamp js-permalink">
  <span class="_timestamp js-tweet-timestamp" style="font-size:10px; margin-bottom:0px;" title="{{entry.pub_date}}" data-time="" data-long-form="true">{{entry.pub_date|timesince}}</span>
</a>

	  </div>


{% endfor %}


	Page {{ paginator.number }} of {{paginator.paginator.num_pages }}.
  	<div class="pagination">

	<ul> {% if paginator.has_previous %}
	<li class="previous"><a href="?{% if q%}q={{q}}&{%endif%}page={{paginator.previous_page_number}}">&larr; previous</a></li>{% endif %}

	{% if paginator.has_next %}<li class="next"> <a href="?{% if q%}q={{q}}&{%endif%}page={{paginator.next_page_number}}">next &rarr;</a></li>{% endif %}</ul>
	</div>
</div>
{% endblock content %}
