{% extends "phoenix/twitter/zerxis_base.html" %}
   {% load avatar_tags %} 

    {% block statuses %}
	<div class="stream-container">

      <div class="stream profile-stream" media="true">
        
		
        {% for s in Updates %}
<div class="js-stream-items stream-items" id="stream-items-id">
	<div class="js-stream-item stream-item" data-item-id="123456" data-item-type="tweet" id="stream-item-tweet-123456">
		<div class="more"> </div>
 <div class="stream-item-content tweet js-actionable-tweet js-stream-tweet stream-tweet  " data-is-reply-to="true" data-tweet-id="123456" data-item-id="123456" data-screen-name="kirembu" data-user-id="48656739">
  <div class="tweet-dogear"></div>
 
  <div class="tweet-image">
      <div class="prof-image" > <a href="#"><img src="{{ s.user.GetProfileImageUrl}}" class="user-profile-link js-action-profile-avatar" alt="" /></a> </div>
  </div>
  <div class="tweet-content">
    <div class="tweet-row">
              <span class="tweet-user-name">
  <a class="tweet-screen-name user-profile-link js-action-profile-name" data-user-id="{{user.id}}" href="/zerxis/user/{{s.user.screen_name}}" title="Patrick">{{s.user.name}}</a>
  <span class="tweet-full-name">{{s.user.screen_name}}</span>
  </span>
      <div class="tweet-corner">
        <div class="tweet-meta">
  <span class="icons">
                  <div class="extra-icons">
              <span class="inlinemedia-icons js-icon-container"></span>
        </div>
  </span>
</div>
      </div>
    </div>
    <div class="tweet-row">
      <div class="tweet-text js-tweet-text">{{s.text|safe}}</div>
    </div>
          <div class="tweet-row">
        <a href="/zerxis/status/{{s.screen_name}}/{{s.id}}" class="tweet-timestamp js-permalink">
  <span class="_timestamp js-tweet-timestamp" title="123456" data-time="1324232504000" data-long-form="true">{{s.relative_created_at}}</span>
</a>
        <span class="tweet-actions js-actions" data-tweet-id="123456">
  </span>
      </div>
	  
          </div>
		   

</div></div>
</div>{% endfor %}

 </div>       
     

      <div class="stream-loading">
</div>


</div>
{% endblock statuses %}
{% block detailspanel %}{% endblock detailspanel %}