{% extends "wing-the-air/base.html" %}

  {% block tabs %}

    <ul class="stream-tabs">
      <li class="stream-tab stream-tab-tweets">
        <a class="tab-text" href="#">Blog</a>
      </li>
      
        <li class="stream-tab stream-tab-favorites active">
          <a class="tab-text" href="/alice/">Alice</a>
        </li>
   {% endblock tabs %}  

{% block content %}
<p/><br/>
{% if text %}
   <ul>
    {% for item in text %}
        <li><a href="chapter/{{item}}"> {{item}}</a></li>
    {% endfor %}
    </ul>


{% else %}
<p> Title <span><a href="/alice/chapter/{{title}}">{{title}}</a></span><br />
<p/> <span>	{% if truncate %}

{{entry|safe|truncatewords:"5"}}

{% else %}

{{entry|safe}}

{% endif  %}
</span><br />
<a href="/alice/chapter/{{title}}/edit/">Edit</a>
Author: <a href="#">{{entry.author}}</a> </p>
<p class="price">Time: <strong>{{entry.pub_date|timesince}} </p>
</strong>
{% endif %}
{% endblock content %}