{% extends "wing-the-air/base.html" %}
{% block head %}
<link rel="stylesheet" href="/static/wta/css/admin.css" type="text/css" media="all" />
{% endblock head %}
{% block content %}	

	<h1>{{title}}</h1>
    <form id="entry_form" action="/blog/compose/" method="post">
    {% csrf_token %}
	<input type="hidden" name="key" value={{key}}/>
		<div class="fieldWrapper">
		{{ form.title.errors }}
		<label for="id_title">Title:</label>
		{{ form.title }}
		</div>

		<div class="fieldWrapper">
		{{ form.markdown.errors }}
		<label for="id_markdown">Text:<br/></label>
		{{ form.markdown }}
		</div>
		<div class="fieldWrapper">
		{{ form.pub_date.errors }}
		<label for="id_pub_date">Date Published :</label>
		{{ form.pub_date }}
		</div>

		<div class="fieldWrapper">
		{{ form.author.errors }}
		<label for="id_author">Author:</label>
		{% if author %}
		{{author}}
		{% else %}
		{{user}}
		{% endif %}
		</div>
		<input type='hidden' name='key' value='{{key}}' />
		<p><input type="submit" name="imageField" id="imageField" value="Submit" class="send"></p>
			
    </form>
	{% endblock content %}
	