{% extends "wing-the-air/base.html" %}
{% load avatar_tags %}

{% block content %}
{% if messages %}
<ul class="notifications">
{% for message in messages %}
<li>{{ message }}</li>
{% endfor %}
</ul>
{% endif %}

{% for entry in Entry %}
<div class="post">
<p>
<div class="prof-image" > {% avatar entry.author %}</a> </div>

<span><a href="/blog/{{entry.slug}}"><h2>{{entry}}</h2></a></span><br />
<span>	{% if truncate %}

{{entry.markdown|escape|safe|truncatewords_html:"140"}}<a href="/blog/{{entry.slug}}">[more..]</a>

{% else %}

{{entry}}

{% endif  %}
</span><br />

Author: <a href="/accounts/user/{{entry.author}}">{{entry.author}}</a> </p>
{% if entry.author == user.username %}
	<a href="/blog/edit/{{entry.slug}}">[Edit]</a><br/>
	{% else %}
	[suggest edits to {{entry.author}}] 
{% endif %}
<p class="price">Time: <strong>{{entry.pub_date|timesince}} </p>
</strong>
</div>
{% endfor %}
<div class="pagination">
	<span class="step-links">{% if paginator.has_previous %} <a href="?{% if q%}q={{q}}&{%endif%}page={{paginator.previous_page_number}}">previous</a>{% endif %}
	<span class="current"> Page {{ paginator.number }} of {{paginator.paginator.num_pages }}.</span>
	{% if paginator.has_next %} <a href="?{% if q%}q={{q}}&{%endif%}page={{paginator.next_page_number}}">next</a>{% endif %}
	</span>
	</div>
{% endblock content%}
