{% extends "wing-the-air/base.html" %}

{% block content %}	
<h1>{{title}}</h1>
<p>
<p>


{% for Poll in poll %}
<li><p><div id="list{{Poll.pk}}" class="StandardDiv">
	
	 <a href="polls/{{Poll.pk}}">{{Poll}}</a><sub><a href="" onclick="javascript:fadejQuery(list{{Poll.pk}}); return false" > <font color="red" size="1">Hide<span class="ui-icon ui-icon-minus" style="float:right; margin:0 ;"></span></a></font></sub>
	
	 <br/>
    <form action="/polls/{{ Poll.id }}/vote/" method="post">
	{% csrf_token %}

   {% for choice in Poll.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
        <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
    {% endfor %}
    <input type="submit" value="Vote" />
    </form>
{{Poll.pub_date|timesince}} </div></p>
</li>
{% endfor %}
<script language="javascript">
function fadejQuery(listdiv) {
$(listdiv).fadeOut();
};
</script>

{% endblock %}