
{% extends "base.html" %}
{% block body %}
  {% block sidebar %}
  <div id="sidebar" align="right">
	<div class="section">
		<div class="headline"><img src="/static/images/find-me-on-the-web.png" style="width:139px" alt="Find me on the web"/></div>
			<table class="icons">
			<tr>
				<td><a href="http://www.facebook.com/kirembu" rel="me"><img src="/static/images/facebook-big.png"/></a></td>
				<td class="last"><a href="mailto:in.kirembu@gmail.com" rel="me"><img src="/static/images/gmail-big.png"/></a></td>
			</tr>
			<tr>
				<td><a href="http://feeds.feedburner.com/kirembu" rel="me"><img src="/static/images/feed-big.png"/></a></td>
				<td class="last"><a href="http://twitter.com/kirembu" rel="me"><img src="/static/images/twitter-big.png"/></a></td>
			</tr>
			</table>
	</div>
</div>
  {% endblock sidebar %}
  <div id="entries">{% block content %}{% endblock content %}</div>
{% endblock body %}

