
{% extends "base.html" %}
{% block content %}
<h1>{{title}}</h1>
<p/>
<a href='/post'>Add New</a>
<p/>


<p> 	<div id="list{{Entry.pk}}" class="StandardDiv">
	
	<li> <a href="/post/{{Entry.slug}}">{{Entry}}</a><sub><a href="" onclick="javascript:fadejQuery(list{{Entry.pk}}); return false" > <font color="red" size="1">Hide<span class="ui-icon ui-icon-minus" style="float:right; margin:0 ;"></span></a></font></sub></li><br/>
	{% if truncate %}

		{{Entry.markdown|escape|truncatewords:"5"}}
		
	{% else %}
	
		{{Entry.markdown|safe}}
	
	{% endif  %}
	<br/><br/>
<div>
<sub><a href="/post/edit/{{Entry.slug}}" onclick="" > <font color="grey" size="1"><br/>Edit<span class="ui-icon ui-icon-pencil" style="margin:0 ;"></span></a></font></sub> </div><hr> </div></p>

{{Entry.pub_date|timesince}} by {{Entry.author}} DATE: {{ Entry.pub_date}}
<script language="javascript">
function fadejQuery(listdiv) {
$(listdiv).fadeOut();
};
</script>
{% endblock content %}
  {% block sidebar %}{% endblock sidebar %}