
{% extends "base.html" %}
{% block content %}
<h1>{{title}}</h1>
<p/>
<a href='/post'>Add New</a>
<p/>


{% for entry in Entry %}
<p> 
	<div id="list{{entry.pk}}" class="StandardDiv">
	
	<li> <a href="/post/{{entry.slug}}">{{entry}}</a><sub><a href="" onclick="javascript:fadejQuery(list{{entry.pk}}); return false" > <font color="red" size="1">Hide<span class="ui-icon ui-icon-minus" style="float:right; margin:0 ;"></span></a></font></sub></li><br/>
	{% if truncate %}

		{{entry.markdown|safe|truncatewords:"5"}}
		
	{% else %}
	
		{{entry}}
	
	{% endif  %}
	<br/><br/>
<div>
{{entry.pub_date|timesince}} by {{entry.author}} <sub><a href="/post/edit/{{entry.slug}}/" onclick="" > <font color="grey" size="1"><br/>Edit<span class="ui-icon ui-icon-pencil" style="margin:0 ;"></span></a></font></sub> </div><hr> </div></p>

{% endfor %}
<br/>
<div class="pagination">
	<span class="step-links">{% if paginator.has_previous %} <a href="?page={{paginator.prevous_page_number}}">previous</a>{% endif %}
	<span class="current"> Page {{ paginator.number }} of {{paginator.paginator.num_pages }}.</span>
	{% if paginator.has_next %} <a href="?page={{paginator.next_page_number}}">next</a>{% endif %}
	</span>
</div>
	
	<br/><b>{{ Entry.count }} Entries</b>
<script language="javascript">
function fadejQuery(listdiv) {
$(listdiv).fadeOut();
};
</script>
{% endblock content %}
  {% block sidebar %}{% endblock sidebar %}